* {
    margin: 0;
    padding: 0;
}


/* @media (min-width: 992px) .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
} */

ul {
    padding-left: 2rem;
    display: flex;
    list-style-type: none;
}

.postInput {
    height: 100px;
}

.cardItem {
    display: inline;
}